*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}
.pic{
    width: 50%;
    text-align: center;
}
.pic{
    width: 50%;
    padding: 45px 10px;
}

.text{
    font-size: 15;
    line-height: 22px;
    color: #000000;
    margin-top: 60px;
}
.title{
    font-size: 32px;
    line-height: 28px;
    color: #000000;
}
.content{
    padding: 112px 30px 67px 40px
}
button{
    width: 101px;
    height: 33px;
    background-color: #FF4A32;
    color: white;
    border-radius: 35px;
    border: none;
    margin-top: 18px;
}
@media (max-width: 1200px) {
    section{
        flex-direction: column;
    }
    .pic,
    .content{
        width: 100%;
    }
}

